<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489847768502-hs7mfucgv646h5fd4uo73d3bh6lnrhcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489847768502-hs7mfucgv646h5fd4uo73d3bh6lnrhcs</string>
	<key>API_KEY</key>
	<string>AIzaSyDYMaIAFaxi-iZW2hRYOhtbmvXRXGSQksE</string>
	<key>GCM_SENDER_ID</key>
	<string>489847768502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPortfolio</string>
	<key>PROJECT_ID</key>
	<string>myportfolio-34aef</string>
	<key>STORAGE_BUCKET</key>
	<string>myportfolio-34aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489847768502:ios:b63c7011fd236fb57aed17</string>
</dict>
</plist>